.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Calibri', Arial, Helvetica, sans-serif;
  padding: 50px;
  background: #ececec; }
  .form-left {
    width: 60%; }
  .form-right {
    width: 40%;
    margin: 65px 0; }
  .form-block {
    margin-bottom: 20px; }
    .form-block__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .form-block__header {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .form-block__header:before {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        background: #000000;
        border-radius: 100%;
        color: #ffffff;
        font-size: 16px; }
      .form-block__header--info:before {
        content: '1'; }
      .form-block__header--payment:before {
        content: '2'; }
      .form-block__header .fas {
        margin-left: 10px; }
  .form-input {
    outline: none;
    border: none;
    font-size: 18px; }
    .form-input__container {
      cursor: pointer;
      position: relative; }
      .form-input__container i {
        position: absolute;
        right: 10px; }
    .form-input__country {
      cursor: pointer; }
      .form-input__country-dropdown {
        display: none; }
        .form-input__country-dropdown.opened {
          display: block; }
  .form-label {
    font-size: 18px;
    font-weight: bold;
    color: #575757; }
  .form-inputs {
    padding-left: 35px; }
    .form-inputs__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .form-inputs__item {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 49%;
      background: #ffffff;
      -webkit-box-shadow: 0 3px 1px #acacac;
      box-shadow: 0 3px 1px #acacac;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 20px; }
      .form-inputs__item--max-width {
        width: 100%; }
  .form-dropdown {
    position: relative; }
    .form-dropdown__container {
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 1px 3px 6px #acacac;
      box-shadow: 1px 3px 6px #acacac;
      padding: 10px 0;
      margin: 0;
      width: 100%;
      background: #ffffff;
      left: 0;
      top: 60px;
      list-style: none;
      z-index: 1; }
    .form-dropdown-item {
      font-size: 18px;
      padding: 10px;
      cursor: pointer; }
      .form-dropdown-item:hover {
        background: #acacac;
        color: #ffffff; }
  .form__submit {
    padding-left: 35px; }
    .form__submit-btn {
      cursor: pointer;
      border: none;
      outline: none;
      background: #00bb83;
      -webkit-box-shadow: 0 3px 1px #acacac;
      box-shadow: 0 3px 1px #acacac;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      border-radius: 4px;
      padding: 20px;
      width: 100%; }
      .form__submit-btn .fas {
        margin-right: 10px; }

.order {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  width: 80%;
  background: #fff;
  border-radius: 4px; }
  .order p {
    margin: 10px 0; }
  .order__container {
    width: 100%;
    padding: 10px;
    border: 1px dashed #acacac;
    border-radius: 4px; }
  .order__header {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
  .order__block {
    padding-bottom: 20px;
    border-bottom: 1px dashed #acacac; }
    .order__block:last-of-type {
      border-bottom: none; }
  .order__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 18px; }
    .order__item--bold {
      font-weight: bold; }
    .order__item-price--bold {
      font-size: 25px;
      font-weight: bold; }

.error-message {
  color: #ca0000;
  font-weight: bold; }

.form-valid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 5px solid #00bb83;
  background: #c5e4da;
  padding: 20px;
  color: #316f3c;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px; }
